@use '../../styles/variables.scss';
@use '../../styles/colors.scss';
@use '../../styles/breakpoint.scss';

.container {
  position: relative;
  margin-top: 200px;
  padding: 0 24px;

  &::after {
    content: '';
    position: absolute;
    background-color: colors.$neutral-light-violet;
    left: -100%;
    right: -100%;
    height: 50%;
    z-index: -1;
    top: 50%;
  }

  .wrapper {
    max-width: variables.$max-width;
    margin: 0 auto;
    padding: 54px 36px;
    background-image: url('../../assets/images/bg-shorten-desktop.svg'),
      linear-gradient(colors.$primary-dark-violet, colors.$primary-dark-violet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
  }

  form {
    text-align: center;
    width: 100%;

    .form-control {
      display: flex;
      gap: 16px;
      width: 100%;
      justify-content: center;
      position: relative;

      input {
        width: 85%;
        padding: 12px 16px;
        border: unset;
        border-radius: 5px;
        font-family: inherit;
        font-size: 18px;

        &::placeholder {
          font-family: inherit;
          color: colors.$neutral-grayish-violet;
        }

        &:focus {
          outline: none;
        }
      }

      .btn {
        width: 15%;
        color: White;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;

        &:hover {
          background-color: colors.$primary-light-cyan;
          opacity: 1;
        }
      }

      &.is-invalid {
        .feedback {
          color: colors.$secondary-red;
          display: block;
          position: absolute;
          bottom: -50%;
          left: 0;
          font-style: italic;
          // align-self: flex-start;
        }
        input {
          border: 3.5px solid colors.$secondary-red;

          &::placeholder {
            color: colors.$secondary-light-red;
            font-weight: 500;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (max-width: breakpoint.$mobile) {
  .container {
    margin-top: 80px;

    .wrapper {
      background-image: url('../../assets/images/bg-shorten-mobile.svg'),
        linear-gradient(colors.$primary-dark-violet, colors.$primary-dark-violet);
    }
  }

  .form-control {
    flex-direction: column;

    input {
      width: 100% !important;
    }

    .btn {
      width: 100% !important;
    }

    &.is-invalid {
      .feedback {
        position: static !important;
        align-self: flex-start;
      }
    }
  }
}
