@use '../../styles/variables.scss';
@use '../../styles/colors.scss';
@use '../../styles/breakpoint.scss';

.header {
  max-width: variables.$max-width;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  padding: 0 24px;

  .header-content {
    width: 40%;
    padding-top: 48px;
    position: relative;
    z-index: 2;

    h2 {
      font-size: 60px;
      font-weight: 700;
      color: colors.$neutral-very-dark-blue;
      letter-spacing: -3px;
    }

    p {
      color: colors.$neutral-grayish-violet;
    }

    .btn-wrapper {
      margin-top: 36px;
    }

    .btn-text {
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
  }

  .header-img {
    position: absolute;
    top: 0;
    right: -18%;
  }

  .header-img-mobile {
    display: none;
  }

  .header-btn {
    padding: 10px 36px;
  }
}

@media (max-width: breakpoint.$mobile) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .header-content {
      width: 100%;
      text-align: center;

      h2 {
        line-height: 1.2;
        margin-bottom: 24px;
      }
    }

    .header-img {
      position: relative;
      display: none;
    }

    .header-img-mobile {
      display: flex;
      justify-content: flex-end;
      width: 90vw;

      img {
        display: block;
        position: relative;
        right: -10%;
        width: 100%;
      }
    }

    .header-btn {
      padding: 14px 42px;
      .btn-text {
        font-size: 22px;
      }
    }
  }
}
