@use '../../styles/variables.scss';
@use '../../styles/colors.scss';

.advertisement-container {
  background-color: colors.$neutral-light-violet;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: center;

  .advertisement-wrapper {
    max-width: 1120px;
    margin: 18px 0 158px;
  }
}
